/* font-family: 'PT Serif', serif;
font-family: 'Sulphur Point', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Titillium Web', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Kosugi Maru', sans-serif;
font-family: 'Kosugi', sans-serif;
 */

body {
  background: #f7fff7;
  font-family: Titillium Web;
}

h1 {
  padding: 30px 0;
  font-family: Bebas Neue;
  font-size: 5rem;
}

/* Input Styling */
.input-field {
  font-size: 2rem;
  padding: 10px 0;
}

label {
  font-size: 1rem;
  font-weight: 500;
}

input[type="text"],
input[type="text"]:focus,
input[type="text"]:hover,
input[type="password"],
input[type="password"]:focus,
input[type="password"]:hover {
  border: none;
  font-size: 2rem;
  border-radius: 5px;
  padding: 10px;
  background: white;
}

/* Button Styline */
.active-button {
  background: #ffe66d;
  cursor: pointer;
}

/* Word Styling */
.word-common {
  color: green;
}

/* User Menu */
.user-menu {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.user-menu button {
  font-weight: 500;
  font-size: 2rem;
  width: 50%;
  border: none;
  margin: 0 !important;
  padding: 20px 0;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  transition: 0.5s;
}

.user-menu button:hover {
  background: #ffe66d;
}

.user-menu-fields {
  background: #ffe66d;
  padding: 20px 0;
  border-radius: 0 0 5px 5px;
}

.user-menu h2 {
  padding: 30px 0;
}

.user-menu label {
  font-size: 1.5rem;
}

.user-menu input[type="submit"] {
  width: 80%;
  border: none;
  padding: 10px 0;
  font-size: 2rem;
  font-weight: 500;
  border-radius: 5px;
  background: #4ecdc4;
  color: white;
  margin: 20px 0;
  cursor: pointer;
  transition: 0.5s;
}

.user-menu input[type="submit"]:hover {
  background: #23726d;
}

/* Field */
.input-field {}

label {
  width: 80%;
}

.input-field input {
  width: 80%;
}

/* Toggle Menu for Words */
.words-toggle-menu {
  width: 80%;
}

.words-toggle-menu button {
  width: 33.333%;
  font-weight: 500;
  font-size: 2rem;
  border: none;
  margin: 0 !important;
  padding: 20px 0;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  transition: 0.5s;
}

.words-toggle-menu button:hover {
  background: #ffe66d;
}

/* Containers for Words */
.delete-button {
  background: none;
  border: none;
  font-weight: 1000;
  padding: 10px;
  position: absolute;
  top: 0px;
  right: 0px;
  color: #e76f51;
}

.search-words-menu,
.create-words-menu,
.saved-words-menu {
  width: 80%;
  background: #ffe66d !important;
  border-radius: 0 0 5px 5px;
}

.word-container {
  position: relative;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  background: #ffe66d;
}

.word-info {
  position: relative;
  text-align: left !important;
  width: 90%;
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-transform: capitalize;
}

.word-info h3 {
  font-family: 'Kosugi';
  display: inline;
}

.word-info li,
.word-info ol {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

.word-info-type {
  font-style: italic;
  color: grey;
}

.word-common-tag {
  padding: 0px 10px;
  background: #2a9d8f;
  border-radius: 5px;
  color: white;
}